@page "/records"

<PageTitle>Records</PageTitle>

<h1 class="page-h1">Records</h1>

<div class="row g-3 mb-3">
    <div class="col-12 col-lg-6">
        <DxTextBox @bind-Text="SearchText"
                   BindValueMode="BindValueMode.OnInput"
                   NullText="Search records"
                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
    </div>
    <div class="col-12 col-lg-6 records-actions">
        <DxButton Text="Filters" IconCssClass="bi bi-sliders" RenderStyle="ButtonRenderStyle.Secondary" />
        <DxButton Text="Customize Columns"
                  RenderStyle="ButtonRenderStyle.Secondary"
                  Click="@ShowColumnChooserAsync" />
        <DxButton Text="Export" IconCssClass="bi bi-download" RenderStyle="ButtonRenderStyle.Secondary" Enabled="false" />
    </div>
</div>

<div class="table-wrap dx-grid-wrap">
    <DxGrid @ref="RecordsGrid"
            Data="@Rows"
            PageSize="20"
            ShowFilterRow="false"
            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ShowGroupPanel="true"
            AllowGroup="true"
            AllowSort="true"
            AllowColumnReorder="true"
            ColumnResizeMode="GridColumnResizeMode.ColumnsContainer">
        <Columns>
            <DxGridDataColumn FieldName="@nameof(RecordGridRow.RecordId)" Caption="Record ID" MinWidth="120" />
            <DxGridDataColumn FieldName="@nameof(RecordGridRow.RespondentId)" Caption="Respondent" MinWidth="160" />
            <DxGridDataColumn FieldName="@nameof(RecordGridRow.County)" Caption="County" MinWidth="150" />
            <DxGridDataColumn FieldName="@nameof(RecordGridRow.State)" Caption="State" MinWidth="100" />
            <DxGridDataColumn FieldName="@nameof(RecordGridRow.Status)" Caption="Status" MinWidth="140" />
            <DxGridDataColumn FieldName="@nameof(RecordGridRow.LastUpdated)" Caption="Last Updated" DisplayFormat="MM/dd/yyyy" MinWidth="150" />
            <DxGridDataColumn FieldName="@nameof(RecordGridRow.Survey)" Caption="Survey" MinWidth="220" />
        </Columns>
    </DxGrid>
</div>
